dist: xenial

jobs:
  include:
    - stage: test
      os: linux
      install: 
        - sudo snap install kubectl --classic
      script: go test -mod=vendor -v ./integration_test.go

branches:
  only:
    - master